Repository IOH-C22-HY-4/MobileDevelopment, pull requests merged in 2022-05, with the labels that each got.

#2 layout/splash screen
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/SplashScreenActivity.kt
  app/src/main/res/drawable-hdpi/hyponics.png
  app/src/main/res/drawable-xhdpi/hyponics.png
  app/src/main/res/drawable-xxhdpi/hyponics.png
  app/src/main/res/drawable-xxxhdpi/hyponics.png
  app/src/main/res/drawable/splash_screen_image.png
  app/src/main/res/layout/activity_splash_screen.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: layout

#10 layout/sign_up
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/SignUpFragment.kt
  app/src/main/res/drawable/email.xml
  app/src/main/res/drawable/password.xml
  app/src/main/res/drawable/person.xml
  app/src/main/res/drawable/sign_up.png
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: layout

#15 Layout/camera
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/CameraActivity.kt
  app/src/main/res/drawable/ic_capture.xml
  app/src/main/res/drawable/ic_switch_camera.xml
  app/src/main/res/layout/activity_camera.xml
Labels: layout

#17 Nambah Menu Notification
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/NotificationMenu.kt
  app/src/main/res/layout/activity_notification_menu.xml
  app/src/main/res/layout/item_row_notification.xml
  app/src/main/res/values/strings.xml
Labels: layout

#16 Nambah Menu Setting
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/SettingMenu.kt
  app/src/main/res/layout/activity_setting_menu.xml
  app/src/main/res/values/strings.xml
Labels: layout

#18 layout/login
  app/build.gradle
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/LoginFragment.kt
  app/src/main/res/drawable/login_image.png
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/values/strings.xml
Labels: layout

#19 Layout/detail artikel
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailArticleActivity.kt
  app/src/main/res/drawable/back.png
  app/src/main/res/drawable/img.png
  app/src/main/res/drawable/white_banner.xml
  app/src/main/res/font/bold.ttf
  app/src/main/res/font/extrabold.ttf
  app/src/main/res/font/medium.ttf
  app/src/main/res/font/regular.ttf
  app/src/main/res/layout/activity_detail_article.xml
  app/src/main/res/values/strings.xml
Labels: layout

#21 Nambah Detail Profile
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailProfile.kt
  app/src/main/res/drawable/ic_change_profile.xml
  app/src/main/res/layout/activity_detail_profile.xml
  app/src/main/res/values/strings.xml
Labels: layout

#23 Nambah IOT Activity tapi belum ada grafik
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/IOTActivity.kt
  app/src/main/res/layout/activity_iotactivity.xml
  app/src/main/res/values/strings.xml
Labels: layout

#24 Layout/home
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/HomeFragment.kt
  app/src/main/res/drawable/home_image.png
  app/src/main/res/drawable/ic_clouds.xml
  app/src/main/res/drawable/ic_cloudy.xml
  app/src/main/res/drawable/ic_humidity.xml
  app/src/main/res/drawable/ic_profile.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/drawable/ic_sunlight.xml
  app/src/main/res/drawable/ic_temperature.xml
  app/src/main/res/layout/card_today_weather.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_article.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: layout

#29 Navigation/home to notifcation
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/CameraActivity.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/CameraFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailArticleActivity.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailArticleFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailProfile.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/DetailProfileFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/IOTActivity.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/IOTFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/IdentificationMenu.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/IdentificationMenuFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/MarketPlaceFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/NotificationMenu.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/NotificationMenuFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/PlantFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/SettingMenu.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/SettingMenuFragment.kt
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/TanamanActivity.kt
  app/src/main/res/drawable/ic_bookmark.xml
  app/src/main/res/drawable/ic_home_24.xml
  app/src/main/res/drawable/ic_photo_24.xml
  app/src/main/res/drawable/ic_shopping_cart.xml
  app/src/main/res/layout/fragment_camera.xml
  app/src/main/res/layout/fragment_detail_article.xml
  app/src/main/res/layout/fragment_detail_profile.xml
  app/src/main/res/layout/fragment_identification_menu.xml
  app/src/main/res/layout/fragment_iot.xml
  app/src/main/res/layout/fragment_market_place.xml
  app/src/main/res/layout/fragment_notification_menu.xml
  app/src/main/res/layout/fragment_plant.xml
  app/src/main/res/layout/fragment_setting_menu.xml
  app/src/main/res/menu/main_bottom_nav_menu.xml
  app/src/main/res/navigation/main_nav.xml
  app/src/main/res/values/strings.xml
  build.gradle
Labels: layout

#30 Navigation/bottom navigation
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
Labels: navigation

#31 Nambah About Fragment
  app/build.gradle
  app/src/main/java/com/ioh_c22_h2_4/hy_ponics/AboutFragment.kt
  app/src/main/res/layout/fragment_about.xml
  app/src/main/res/layout/fragment_iot.xml
  app/src/main/res/navigation/main_nav.xml
  app/src/main/res/values/strings.xml
Labels: layout

#32 fix: bug in top appbar
  app/src/main/res/layout/fragment_home.xml
Labels: fix
